<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.b52.mappers.MemberMapper">

    <!-- Role이 2개이상인 유저는 join시 컬럼이 여러개 나오므로 메모리상에서 Group -->
    <resultMap id = "memberMap" type="org.zerock.b52.dto.MemberReadDTO">
    <!-- property => DTO값 대입 
         DTO column => DB컬럼 대입
    -->
        <id property="email" column = "email"/>
        <result property = "mname" column="mname"/>
        <result property = "mpw" column="mpw"/>
        <collection property="rolenames" resultMap="authMap"/>
    </resultMap>

    <resultMap type="string" id="authMap">
        <result column = "rolename"/>
    </resultMap>


    <select id="selectOne" resultMap="memberMap">
        select * from 
        tbl_member tm inner join tbl_member_role tmr on tmr.email = tm.email
        where tm.email = #{email}
    </select>

</mapper>